<div class="block block-category first">
<div class="block-title">
    <strong><span>Категории</span></strong>
</div>
<div class="nav-container">
    <ul id="nav">
        {% for entity in entities %}
        <li class="level0 nav-1 first level-top"><a href="http://livedemo00.template-help.com/magento_41646/action-toys-figures.html" class="level-top"><span>{{ entity.title }}</span></a></li>
        {% endfor %}

{#<li class="level0 nav-2 level-top parent items"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts.html" class="level-top"><span>Arts &amp; Crafts</span></a>  </li>
        <li class="level0 nav-3 level-top"><a href="http://livedemo00.template-help.com/magento_41646/dolls-soft-toys.html" class="level-top"><span>Dolls &amp; Soft Toys</span></a></li>
        <li class="level0 nav-4 level-top"><a href="http://livedemo00.template-help.com/magento_41646/games-puzzles.html" class="level-top"><span>Games &amp; Puzzles</span></a></li>
        <li class="level0 nav-5 last level-top"><a href="http://livedemo00.template-help.com/magento_41646/collectibles.html" class="level-top"><span>Collectibles</span></a></li>    
        #}</ul>
</div>
</div>