{% extends 'LegoSiteBundle::layout.html.twig' %} 
{% block body %}
<div class="col-main">
                                        <div class="std"><script type="text/javascript" src="/img/jquery_004.js"></script>
 
<div class="index_slider">
 <div id="nav_slides"><div id="nav_sl_wrap"><a href="#" class="page_sl1">1</a><a href="#" class="page_sl2">2</a><a href="#" class="page_sl3 activeSlide">3</a></div></div><div style="position: relative;" id="s4">
 	<div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 764px; height: 452px;" class="cl1">
  	<div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/action-toys-figures.html"></a></div>
  </div> 
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 764px; height: 452px;" class="cl2">
  	<div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/dolls-soft-toys.html"></a></div>
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 764px; height: 452px;" class="cl3">
  	<div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/collectibles.html"></a></div>
  </div>
 </div>
</div></div><div class="page-title"><h2>New Products</h2></div>
                    <ul class="products-grid-new first odd">
                    <li class="item first">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/con-proident-sunt-in-culpa.html" title="Cupidatat non proident, sunt in  culpa qui offic">Cupidatat non proident, sunt in  culpa qui offic</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/con-proident-sunt-in-culpa.html" title="Cupidatat non proident, sunt in  culpa qui offic" class="product-image"><img src="/img/pic1.jpg" alt="Cupidatat non proident, sunt in  culpa qui offic" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-59-new">
                                            <span class="price">$15.99</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/59/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/con-proident-sunt-in-culpa.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                                <li class="item">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/lorem-ipsum-dolor-sit-amet.html" title="Con proident sunt in culpa qui offic">Con proident sunt in culpa qui offic</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/lorem-ipsum-dolor-sit-amet.html" title="Con proident sunt in culpa qui offic" class="product-image"><img src="/img/pic2.jpg" alt="Con proident sunt in culpa qui offic" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-60-new">
                                            <span class="price">$31.69</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/60/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/lorem-ipsum-dolor-sit-amet.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                                <li class="item last">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/proin-eu-neque-et-est-dignissim.html" title="Cupidatat non proiden">Cupidatat non proiden</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/proin-eu-neque-et-est-dignissim.html" title="Cupidatat non proiden" class="product-image"><img src="/img/pic3.jpg" alt="Cupidatat non proiden" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-61-new">
                                            <span class="price">$40.89</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/61/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/proin-eu-neque-et-est-dignissim.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                </ul>
                            <ul class="products-grid-new last even">
                    <li class="item first">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/fusce-fringilla-nisi-sit-amet-tortor.html" title="Sunt in culpa qui offic">Sunt in culpa qui offic</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/fusce-fringilla-nisi-sit-amet-tortor.html" title="Sunt in culpa qui offic" class="product-image"><img src="/img/pic4.jpg" alt="Sunt in culpa qui offic" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-62-new">
                                            <span class="price">$12.89</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/62/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/fusce-fringilla-nisi-sit-amet-tortor.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                                <li class="item">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/cupidatat-non-proident.html" title="Cupidatat non proident">Cupidatat non proident</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/cupidatat-non-proident.html" title="Cupidatat non proident" class="product-image"><img src="/img/pic5.jpg" alt="Cupidatat non proident" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-63-new">
                                            <span class="price">$55.69</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/63/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/cupidatat-non-proident.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                                <li class="item last">
            <div class="grid_holder">
                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_41646/proident-sunt-in-culpa-qui-offic.html" title="Proident sunt in culpa qui offic">Proident sunt in culpa qui offic</a></h3>
                <a href="http://livedemo00.template-help.com/magento_41646/proident-sunt-in-culpa-qui-offic.html" title="Proident sunt in culpa qui offic" class="product-image"><img src="/img/pic6.jpg" alt="Proident sunt in culpa qui offic" height="185" width="200"></a>                
                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-64-new">
                                            <span class="price">$69.99</span>                                    </span>
                        
        </div>

                <div class="actions">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://livedemo00.template-help.com/magento_41646/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MTY0Ni8,/product/64/')"><span><span>Add to Cart</span></span></button>
                                        <a href="http://livedemo00.template-help.com/magento_41646/proident-sunt-in-culpa-qui-offic.html" class="btn_details">Details</a>
                </div>
            </div>
            </li>
                </ul> 
                </div>
{% endblock %}