{% extends 'LegoSiteBundle::layout.html.twig' %} 
{% block body %}
<div class="col-main">
          
                                {% if message==1 %}
    
                                        <div class="box-collateral box-up-sell ">
                                            <h2>Письмо отправлено успешно! В ближайшее время вам ответят!</h2>
                                        </div> 
                                 
                                {% endif %}
                                        {#<div class="std">
                                                <div class="index_slider">
                                                    {% if images|length > 0%}
                                                        <div style="position: relative;" id="s4">
                                                        {% for image in images %}
                                                         <a href="{{image.title}}">
                                                            <div class="cl{{ loop.index }}" style="background:url('{{ vich_uploader_asset(image, 'image' ) }}') no-repeat scroll 0 0 transparent; width:764px; height:452px;">
                                                                <div class="btn_shop_now" >                                                                  
                                                                </div>
                                                            </div> 
                                                          </a>
                                                        {% endfor %}
                                                        </div>
                                                     {% endif %}
                                                </div>
                                        </div>#}
        
        
        


{% render 'MainSiteBundle:Catalog:TopSalesBlock' %}
      {% if entity.content!='' %}
        <div class="page-title"><h2>Информация</h2></div>   
            {{ entity.content | raw() }}
      {% endif %}
</div>
{% endblock %}