{% extends 'LegoSiteBundle::layout.html.twig' %} 
{% block body %}
<div class="col-main">
                                        <div class="std">
                                                <div class="index_slider">
                                                        <div style="position: relative;" id="s4">
                                                        <div class="cl1">
                                                        <div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/action-toys-figures.html"></a></div>
                                                        </div> 
                                                        <div class="cl2">
                                                                <div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/dolls-soft-toys.html"></a></div>
                                                        </div>
                                                        <div class="cl3">
                                                                <div class="btn_shop_now"><a href="http://livedemo00.template-help.com/magento_41646/collectibles.html"></a></div>
                                                        </div>
                                                        </div>
                                                </div>
                                        </div>
        
        
        

      
{% render 'MainSiteBundle:Catalog:TopSalesBlock' %}
      {% if entity.content!='' %}
        <div class="page-title"><h2>Информация</h2></div>   
            {{ entity.content | raw() }}
      {% endif %}
</div>
{% endblock %}