     <div class="bg_top"></div>
      <div class="header_menu">
 <ul>  
        {% for entity in entities %}
                    
                    <li class="link{{loop.index+1}}">
                        
                        <a href="{{ path("other", {"_locale":"ru", "translit" : entity.translit }) }}">
                            {{entity.title}}
                        </a>
                    
                        
                    </li>
        {% endfor %}
 </ul>
              
          
    <form id="search_mini_form" action="{{ path('search_in_site') }}" method="POST">
        <div class="form-search">
            <label for="search">Поиск:</label>
                <input autocomplete="on" id="search" name="q" class="input-text search_with_param w100per" type="text"  
                            data-link=".search_product_id"
                            data-type-link="input"
                            data-route="ajax_search_product"
                            data-id_prod="1"/>
                <input type="hidden" name="productid" class="auto_prod_id" value=""/>
                <input value="" class="btn_search" type="submit" />
                <div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
	</div>
        </form>
</div>         
              
